.name,
.email,
.message {
  color: white;
}

.container {
  width: 85vw;
  padding: 0 30px 30px 30px;
  margin: 30px 0;
}

textarea {
  resize: none;
}

.submit {
  display: flex;
  justify-content: center;
}
