body {
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Ensure the section takes up the full viewport */
.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Media container for both image and video */
.media-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background-image: url("/images/print1.jpg");
}

/* Placeholder image */
.placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Hide placeholder when video is ready */
.placeholder.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
}

/* Iframe styling for full coverage */
.video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 177.78vh; /* 16:9 aspect ratio */
  height: 100vh;
  min-width: 100vw;
  min-height: 56.25vw;
  transform: translate(-50%, -50%);
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Make the video visible smoothly */
.video.visible {
  opacity: 1;
}

.hero-img {
  border-radius: 25px;
}
