.subheader {
  font-size: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0px;
  padding: 0 30px 0 30px;
}

@media (min-width: 670px) {
  .anchors {
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 669px) {
  .anchors {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 0;
  }
}

@media (min-width: 670px) {
  .anchor {
    margin: 0 20px 20px 0;
  }
}
@media (max-width: 670px) {
  .anchor {
    margin: 10px;
  }
}

@media (max-width: 622px) {
  .about-container {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  .about-icon-wrapper {
    margin: 0;
    width: 100%;
    align-items: center;
  }

  .about-icon-container {
    justify-content: center;
    width: 100%;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements horizontally */
  gap: 10px; /* Optional: Adds spacing between rows */
}

.card-container > * {
  width: 80vw; /* Make each child take up 80% of the viewport width */
  text-align: center; /* Center-align text inside the elements */
}

.statement {
  text-align: left; /* Align the text to the start of its parent */
  width: 77vw; /* Optional: Ensure consistent width with other elements */
  margin: 0; /* Reset margin if needed */
  position: relative; /* Required for positioning the pseudo-element */
}

.statement::before {
  content: "•"; /* Adds a bullet point */
  margin-right: 8px; /* Space between bullet and text */
  font-size: 1.2em; /* Adjust bullet size as needed */
  color: inherit; /* Matches the text color */
  display: inline-block;
}
